

#header {
    background-color: #66CCFF;
    font-family: Quicksand;
   width: 570px
    
    }
#nav {
    background-color: #96FA90;
    font-family: Lilita One;
width: 250px;
height: 750px;
padding: 10px;

}

#codes {
    background-color: #96FA90;
    font-family: Lilita One;
width: 250px;
height:750px;
padding: 10px;
margin-left: auto;
margin-right: auto;
position: relative;
bottom: 765px;




}